<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="chassis_link"></link>

  <link name="XT_32"> </link>
  <joint name="XT_32_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="XT_32" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="chassis_imu"> </link>
  <joint name="chassis_imu_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="chassis_imu" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="front_owl"> </link>
  <joint name="front_owl_joint" type="fixed">
    <parent link="XT_32" />
    <child link="front_owl" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="left_owl"> </link>
  <joint name="left_owl_joint" type="fixed">
    <parent link="XT_32" />
    <child link="left_owl" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="right_owl"> </link>
  <joint name="right_owl_joint" type="fixed">
    <parent link="XT_32" />
    <child link="right_owl" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="back_owl"> </link>
  <joint name="back_owl_joint" type="fixed">
    <parent link="XT_32" />
    <child link="back_owl" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>